@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to azure_app_maztti now with CD BROW <Applet> Services</Applet></h1>

</div>
